h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #f1eaea;
    border: 10px solid #ccc;
  }

* {
    background-image: url("https://wallpapers.com/images/featured/dark-theme-background-q62o6998n8bqxzrf.jpg");
    
}